[Libraries]
Library/
Temp/
Obj/
Build/
Logs/
MemoryCaptures/

[UserSettings]
UserSettings/

[Package Manager]
Packages/packages-lock.json

[Visual Studio]
.vscode/
.vs/
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

[Other]
.DS_Store
*.apk
*.unitypackage

#GEMINI.md
